.alert-error{
    color: red;
}

.main_content{
    /*background-image: url("../img/header.jpg");*/

}

.main_container{
    padding: 10px;
    width: 100%;
    min-height: 400px;
    margin: 20px 0 20px 0;
    opacity: 0.95;
    background-color: #fff;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #ccc;
    box-shadow: none;
}

.search-container{
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

input{
    height: 30px;
    left: 25px;
    top: 0px;
    bottom: 0px;
    width: 205px;
    border-radius: 3px;
    border: #cce;
}

#num{
    height: 37px;
    padding-left: 10px;
}

.contact{
    margin-top: 30px;
}

.nav{
    padding-top: 20px;
}

.nav ul {
    list-style: none;
    background-color: #a3b4d2;

    padding: 0 60px ;
    margin: 0;
    border-radius: 5px;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: transparent;
}

.nav a.active {
    background-color: #fff;
    color: #e8edff;
    cursor: default;
}

.message{
    border-bottom: 3px solid grey;
    margin-right: 20px;
    margin-left: 30px;
}


.mess{
    font-size: 20px;
    font-family: verdana;
    padding: 10px 10px;
}

.mess span{
    padding: 20px;
}

.mess_time {
    font-size: 20px;
    padding-top: 10px;
}

.mess_tittle{
    padding: 10px 30px;
    background: linear-gradient(to left, rgb(234, 232, 225) 0%, white, rgb(234, 232, 225));
    border-bottom: 1px solid grey;
    color: #506a6b;
    font-size: 23px;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
}

.right_aside{
    opacity: 0.7;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

.reg-right {
    margin: auto;
    width: 600px;
    position: relative;
    background: #f0f0f0;
    opacity: 0.8;
}

.well_top{
    margin-top: 20px;
    text-align: center;
}

#registr{
    bottom: 295px;
    position: relative;
}

.tittle_table{
    font-size: 30px;
    font-family: "RobotoBold", sans-serif;
    color: #4d4a72;
    text-align: center;
    text-transform: uppercase;
}

.but-place {
    position: fixed;
    left: 900px;
}

.dropdown a:hover, .dropdown:hover .droplink {
    background-color: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e5eef5;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #efeff5
}

.dropdown:hover .dropdown-content {
    display: block;
}

h2{
    font-size: 35px;
    font-family: RobotoCondensedBold, cursive;
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
}

h3{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 27px;
    font-family: RobotoCondensedRegular, cursive;
    color: #337270;
    text-align: center;
    text-transform: uppercase;
    opacity:1;
}

.create_form h3{
    margin-top: 20px;
    color: #302d3a;
}

.but_user{
    position: relative;
    float: right;
    padding: 10px 20px;
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: #32326f;
    border-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    opacity: 0.9;
}


.but_user:hover{
    opacity: 1;
}

.tariff_container{
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    min-height: 400px;
    /*background-color: #f9fbfa;*/
    opacity: 1;
}

.registr_container{
    padding: 20px;
    margin: auto;
    width: 70%;
    min-height: 400px;
    background-color: transparent;
    opacity: 1;
    border: 1px solid #ccc;
}

.registr_container h2{
    font-size: 30px;
    font-family: "RobotoBold", sans-serif;
    color: #4d4a72;
    text-align: center;
    text-transform: uppercase;

}

.reg_form{
    margin: auto;
    margin-top: 20px;
}
 .reg_form form input[type="text"],
.reg_form form input[type="email"], .reg_form form input[type="password"] {
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    transition: all 0.5s ease;
    background: #eae7e7;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 20px Helvetica, Arial, sans-serif;
    height: 40px;
    margin: 0 0 10px;
    padding: 15px 10px 15px 10px;
    width: 80%;
}
 .reg_form form input[type="text"]:focus,
.reg_form form input[type="email"]:focus, .reg_form form input[type="password"]:focus
{
    box-shadow: 0 0 2px #ed1c24 inset;
    background-color: #fff;
    border: 1px solid #ed1c24;
    outline: none;
}

.reg_form form input[type="text"], .reg_form form input[type="email"], .reg_form form input[type="password"]{
    width: 70%;
}

 .reg_form form input[type="submit"] {
    background: rgb(254,231,154);
    background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
    border-radius: 30px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    float: right;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 30px 75px 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    width: 120px;
}
 .reg_form form input[type="submit"]:hover{
    background: rgb(254,193,81);
    background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}

.reg_form form input[type="submit"]{
    margin-bottom: 15px;
}

.reg_form .well{
    padding: 15px;
}

.form-group{
    padding-left: 100px;
}

.create_form {
    padding: 10px 50px ;
    margin: 30px;
    /*border: 1px solid #69c;*/
    opacity: 1;
}

.create_form h3{
    margin-bottom: 25px;
    color: #3b4059;
    font-family: RobotoBold cursive;
    font-weight: 800;
    font-size: 25px;
}

.create_form input[type="text"] {
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    transition: all 0.5s ease;
    background: #eae7e7;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 17px Helvetica, Arial, sans-serif;
    height: 40px;
    margin: 0 0 10px;
    padding: 10px 10px 15px 10px;
    width: 80%;
}
.create_form input[type="text"]:focus{
    box-shadow: 0 0 2px #ed1c24 inset;
    background-color: #fff;
    border: 1px solid #ed1c24;
    outline: none;
}

#tariff_price {
    width: 32%;
    margin-left: 50px;
}
#tariff_tittle, #option_tittle, #new_option_tittle{
    width: 68%;
}

#cr_tar_form #tariff_tittle{
    margin: 30px 80px;
}

#tariff_form #tariff_tittle{
    margin-left: 50px;
}

#option_tittle{
    margin-left: 50px;
    margin-top: 50px;
}

#option_price, #option_cost{
    margin-top: 10px;
    margin-left: 50px;
    width: 24%;
}
#option_cost{
    margin-left: 20px;
}

#option_cost, #new_option_cost{
    width: 24%;
}

#new_option_price{
    margin-left:50px;
    width: 24%;

}
#new_option_tittle{
    margin-top: 20px;
    margin-left: 50px;
}

#cr_tar_form #option_tittle{
    margin-top: 0;
}

#cr_tar_form #tariff_price{
    width: 45%;
    margin: 10px 10px 20px 60px;
}


.create_form form input[type="submit"] {
    background: rgb(254,231,154);
    background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    float: right;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 20px 30px 15px 35px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    width: 120px;
}
.create_form form input[type="submit"]:hover {
    background: rgb(254,193,81);
    background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}

.tariff_container .fa{
    font-size: 20px;
    color: #4d4a72;
}

.fa-euro {
    margin-right: 10px;
}

.create_form .fa-euro{
    margin-left: 0;
}

.fa-minus{
    border: 30px;
    color: #4d4a72;
}

.fa-refresh{
    float: right;
    font-size: 30px;
}

.fa-plus-circle{
    float: right;
    margin-top: 15px;
}

.fa-times-circle, .fa-repeat{
    float: right;
    margin-right: 25px;}

.fa-trash-o{
    font-size: 20px;
    margin-left: 10px;
}

.fa-check-square{
    color: black;
    margin-left: 10px;
}

.dis_opt, .user_opt{
    border-radius: 3px;
    border: 1px solid rgba(105, 102, 142, 0.58);
    background: transparent;
    font-size: 18px;
    min-height: 35px;
    min-width: 100px;
    padding: 2px;
    margin-bottom: 20px ;
}

.dis_opt{
    margin-left: 50px;
    min-width: 180px;
}

.option_create{
    padding: 10px 10px 0 50px;
    margin-left: 70px;
    margin-top: 0;
}

#wrapp .option_create{
    border-left: 1px #ccc solid;
}

.users-right .option_create{
    margin-top: 45px;
}

#admin_main_mes{
    margin-top: 0;
}


.create_form .option_create p{
    font-family: RobotoBold, cursive;
}

#target_option .option_create{
    margin-top: 20px;
}

.option_create p{
    text-align: center;
    font-size: 20px;
    color: #261033;
    text-transform: uppercase;
    font-family: RobotoBold, cursive;
    padding-right: 10px;
}

.add_buttons a{
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 3px;
    background-color: #ccc;
}

.user_opt{
    margin-bottom: 0;
}

#input_opt_dis, #input_opt_req, #new_input_opt_dis, #new_input_opt_req{
    max-width: 50%;
}

#tarSubmit, #opt_create_submit, #opt_update_submit{
    width: 70px;
    background-color: #20517d;
    border-color: #67727d;
    color: #e8edff;
    margin-right: 35px;
    padding-right: 1px;
    padding-left: 1px;
}

#tarSubmit{
    margin-right: 85px;
    border: 1px solid #2c3788;

}

#opt_create_submit, #opt_update_submit{
    margin: 15px 45px 15px 0;
}

#opt_create_submit{
    margin: 15px 85px 15px 0;
}

#tarSubmit:hover, #opt_create_submit:hover{
    background-color: #9ca7b3;
    border-color: #dddde3;

}

#cr_tar_submit{
    margin-right: 50px;
}

#opt_update_submit{
    margin: 0 220px -30px 5px;
    padding-right: 3px;
}

#option_part{
    border-right: 1px solid #ccc;
}

.but_opt_add{
    background: transparent;
    border: none;
}

.search-container input[type="submit"]{
    width: 100px;
    padding-bottom: 25px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.panel-default{
    background-color: transparent;
}

#wrapp{
    display: none;
}

.add_option_button{
    color: #fff;
    background-color: #497682;
    border-radius: 4px;
    margin: 30px 10px 0 195px;
    width: 70px;
    height: 35px;
}

.add_option_button:hover{
    background-color: #9ca7b3;
}

#tariff_part #tarSubmit{
    background-color: #212c82;
}

#tariff_part #tarSubmit:hover{
    background-color: #7faaae;
}

#option #opt_update_submit{
    color: #ffffff;
    margin: 0 240px -30px 5px;
    background-color: #212c82;
}

#option #opt_update_submit:hover{
    background-color: #7faaae;
}

.cr{
    border: none;
    border-left: 1px solid #ccc;
}

.title_opt{
    margin: -5px 0 10px 90px;
    text-transform: none;
    font-family: normal;
}

#opt_changer{
    margin-left: 85px;
}

.option_data{
    font-size: 20px;
    font-family: RobotoRegular, sans-serif;
    color: #333;margin: 0 0 0 75px;
    text-transform: none;
}



