.option_create{
    border: 1px solid #ccc;
    padding: 5px;
}

#admin_main_mes .lead{
    font-size: 22px;
}

#admin_main_mes .option_create{
    margin-top: 0;
}

.option_create p{
    text-align: center;
    font-size: 15px;
    color: #4d4a72;
    text-transform: uppercase;
    font-family: "RobotoRegular",cursive;
}

.first  {
    list-style: none;
    padding: 0;
}
.first li {
    padding: 10px 30px;
    /*background: linear-gradient(to left, rgb(218, 239, 241) 0%, white, rgb(237, 247, 248));*/
    background-color: rgb(218, 239, 241);
    border-bottom: 1px solid grey;
    color: #181b1b;
    font-size: 17px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
}
.first li:last-child {border-bottom: none;}

em{
    float: right;
}


.first a{
    font-size: 14px;

}

.lead{
    margin: 10px;
    font-size: 17px;
    font-family: LobsterRegular, cursive;
}

.fa-cog{
    margin-left: 50px;
}

.inner_table {
    margin: 10px 50px 10px 10px;
    width: 97%;
}

.inner_table th{
    font-size: 17px;
    text-transform: uppercase;
}
.inner_table td, .inner_table th {
    color: #2b686e;
    padding: 10px;
    text-align: center;
}
.inner_table td {
    text-align: left;
    vertical-align: middle;
}

.inner_table span{
    padding: 10px;
}
.inner_table td:last-child {
    text-align: left;
    font-size: 0.95em;
    line-height: 1.4;
}

.inner_table td:nth-child(1) {
    text-align: left;
    padding-left: 20px;
}
.inner_table th {
    background-color: #daeff1;
    font-weight: 300;
}

.inner_table tr:nth-child(2n) {
    background-color: white;
}
.inner_table tr:nth-child(2n+1) {
    background-color: #edf7f8;
}
.users-right {
    margin: auto;
    background: #fefbff;
    opacity: 0.8;
    border-color: #69c;
}

#mesgs .fa{
    color: black;
    margin-right: 10px;
}

#mesgs .fa-times-circle{
    color: red;
}