footer {
    width: 100%;
    background: #272828;
    padding-top: 20px;
    text-align: center;
}

footer nav{
    padding-bottom: 30px;
    margin: auto;
}

footer nav ul li{
    display: inline-block;
    margin-left: 60px;
    list-style: none;
    color: #fff;
}

footer nav ul li a{
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

footer p {
    padding-bottom: 20px;
    color: #dadae3;
    margin-top: 0;
}

.soc_buttons p{
    font-size: 20px;
    color: #c8d3e7;
    font-family: cursive;
}

footer .soc_buttons{
    float: right;
    margin: 0;
}

.soc_buttons > a{
    font-size: 23px;
    margin-left: 8px;
}

.soc_buttons .fa{
    color: #ffffff;
}