
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

header {
  background: #111;
}

.headline {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background: url("../img/city.jpg") no-repeat center center;
  background-size: cover;
}
.headline:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;

}

.headline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;

}

.fa-user{
  font-size: 30px;
}

.fa-file-text{
  font-size: 30px;
}

.fa-home,.fa-shopping-cart, .fa-sign-out{
  font-size: 30px;
}



.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
}
.inner h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.2em;
}
.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}
nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}
nav li {
  float: left;
}
nav a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  margin: 5px 20px 0 20px;
  display: block;
}
nav a:hover {
  color: #ededed;
}

.logo {
  height: 60px;
  float: left;
}
.logo:before, .logo:after {
  position: absolute;
  font-size: 60px;
  font-family: CocaColaRegular;
  font-weight: 300;
  line-height: 0;
  color: #fff;
  top: 40px;
}
.logo:before {
  content: 'mobileCom';
  left: 20px;
}


section {
  width: 80%;
  margin: 25px auto;
  padding: 20px;
  /*max-width: 800px;*/
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
