.main_container{

    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    min-height: 400px;
    box-shadow: none;
    /*background: linear-gradient(to right, #f6f7f7 0%, #f8fdfc 24%);*/
}

.main_container h2{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;

}

.form_container h1{ font-size:28px;}
.form_container h1,h2,h3,h4,h5,h6{ color:#563D64;}
.form_container small{ font-size:10px;}
b, strong{ font-weight:bold;}
.form_container a{ text-decoration: none; }
.form_container a:hover{ text-decoration: underline; }
.left { float:left; }
.right { float:right; }
.alignleft { float: left; margin-right: 15px; }
.alignright { float: right; margin-left: 15px; }
.clearfix:after,
.form_container form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.form_container { margin: 25px auto; position: relative; width: 900px; }
#cont {
    background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    box-shadow: 0 1px 0 #fff inset;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 400px;
}
#cont h1 {
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}
#cont h1:before,
#cont h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 27%;
}
#cont h1:after {
    background: rgb(126,126,126);
    background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
#cont h1:before {
    background: rgb(126,126,126);
    background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
#cont:after,
#cont:before {
    background: #f9f9f9;
    background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}
#cont:after {
    transform: rotate(2deg);
    top: 0;
    z-index: -1;
}
#cont:before {
    transform: rotate(-3deg);
    top: 0;
    z-index: -2;
}
#cont form { margin: 0 20px; position: relative }
#cont form input[type="email"],#cont form input[type="password"] {
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    transition: all 0.5s ease;
    background: #eae7e7  no-repeat;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 18px Helvetica, Arial, sans-serif;
    margin: 10px auto;
    padding: 15px 10px 15px 40px;
    width: 80%;
    height: 45px;
}
#cont form input[type="email"]:focus, #cont form input[type="password"]:focus {
    box-shadow: 0 0 2px #ed1c24 inset;
    background-color: #fff;
    border: 1px solid #ed1c24;
    outline: none;
}
#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }
#cont form input[type="submit"] {
    background: rgb(254,231,154);
    background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
    border-radius: 30px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 20px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    width: 120px;
}
#cont form input[type="submit"]:hover {
    background: rgb(254,193,81);
    background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#fec151, endColorstr=#fee79a,GradientType=0 );
}

#cont form input[type="submit"]:active {
    border-color: #FEC151;
}

#cont form div a {
    color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}
.but_login {
    background: rgb(247,249,250);
    background: linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#f7f9fa, endColorstr=#f0f0f0,GradientType=0 );
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    border-radius: 0 0 5px 5px;
    padding: 10px 0;
}

.but_login:active{
    border: none;
}
.but_login  a {
    color: #3b1835;
    font-size: 17px;
    padding: 2px 0 2px 40px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.but_login  a:hover {
    background-position: 0 -135px;
    color: #e8ef90;
}
