

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: red 1px solid;
}
body input:required:valid,

body {
	font-family: RobotoRegular, sans-serif;
	font-size: 16px;
}

.alert{
	padding: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	text-align: center;
}

.has-error{
	text-transform: none;
}

.label{
	background-color: #fff;
}
.header_topline{
	background-color: black;
	padding: 15px 0;
}
.header_topline a {
	color: #fff;
}

.top_links{
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
	margin: 45px 0 10px -190px;
}


.top_links a {
	text-decoration: underline;
}

.top_links .fa{
	font-size: 35px;
}

.top_links a:hover {
	text-decoration: none;
}


.top_header .soc_buttons{
	margin: 55px -160px 0px;

}
.top_header .soc_buttons a{
	font-size: 23px;
	margin-left: 19px;
}
.top_header .fa{
	font-size: 28px;
}

.top_header .fa-sign-out{
	margin-left: 109px;
}

.soc_buttons{
	float: right;
	margin: 45px 0 10px;
}

.soc_buttons > a{
	font-size: 35px;
	margin-left: 15px;
}

.soc_buttons .fa{
	color: #ffffff;
	margin-right: 15px;
}
.auth_buttons, .main_mnu_button {
	background-color: transparent;
	border: none;
	font-size: 26px;
}

.main_mnu_button {
	color: #fff;
	padding: 9px 15px 0;
}
.header_topline .logo {
	display: block;
	color: #fff;
	font-family: CocaColaRegular;
	font-size: 60px;
	text-align: left;
	margin-left: -150px;
}
.top_header{
	/*	background-color: #dfebf1;*/
	background-image: url("../img/header.jpg");
}

.badge{
	font-size: 0.6em;
}

.maian_mnu{
	/*background: linear-gradient(to right, #709aa9 20%, #5ac5d4 80%);*/
	color: #fff;
	margin-left: 115px;
	/*	margin-bottom: 20px;*/
}

.maian_mnu a {
	color: #3d3d3d;;
	padding: 15px;
	display: block;
	transition: all .55s;
}

.maian_mnu a:hover {
	background-color: #ebebf1;
}

.maian_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;

}

.top_contacts{
	float: right;
	font-size: 30px;
	line-height: 53px;
	padding: 0 15px;
	background-color: transparent;
}

.maian_mnu ul li{
	display: inline-block;
}

.maian_mnu ul {
	z-index: 12;

}

h1{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: RobotoLight, cursive;
}

.slider_container img {
	max-width: 100%;
	max-height: 60%;

}
.slider_container{
	position: relative;
	padding-bottom: 20px;

}
.next_button, .prev_button{
	background-color: rgba(255,255,255, 0.5);
	border-radius: 10em;
	color: #fff;
	font-size: 45px;
	padding: 0 25px;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	top: 40%;
}
.next_button{
	right: 20px;
}

.prev_button{
	left: 20px;
}

section.order{
	background-color: #eee;
	padding: 25px 0;
}

.sell_descr{
	margin: 5px;
	font-size: 17px;
	font-weight: 500;
	color: #4d5380;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 5px solid #ccc;
}

.sell_number{
	font-size: 30px;
	text-align: center;
	padding: 20px 20px;
}

.sell_number span{
	padding: 10px;
}

.myform .button{
	display: block;
	border: medium none;
	background-color: #33cccc;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;
	width: 200px;
}

.myform .button:hover {
	background-color: #99ffcc;
}

.myform .button:active{
	background-color: #54ffc7;
}


.sell_right .button{
	margin: 90px;
	font-size: 20px;
}

.hidden{
	display: block;
	top: 0;
}

.myform input[type=text]{
	display: block;
	line-height: 24px;
	/*margin: 0 auto 12px;*/
	width: 90%;
}

.myform .button{
	margin: 15px auto 10px;
}
.myform h3{
	margin: 10px auto 15px;
	text-align: center;
	font-weight: normal;
	font-family: RobotoCondensedBold, cursive;
	text-transform: uppercase;
}

.app_select{
	border-radius: 3px;
	border: 1px solid rgba(105, 102, 142, 0.58);
	background: transparent;
	font-size: 20px;
	min-height: 35px;
	min-width: 170px;
	padding: 3px;
	margin-bottom: 10px ;
	margin-left: 90px;
}

.blog_item img {
	max-width: 95%;
	margin-left: 7px;
}

.blog_item h3{
	font-family: RobotoCondensedRegular, cursive;
	text-align: center;
	margin-bottom: 10px;
}

.blog_item a{
	color: #17615b;
}

.right_aside{
	padding: 15px 10px;
	margin-bottom: 20px;
	box-shadow: 2px 1px 2px 2px rgba(156, 167, 179, 0.5);
}

.right_aside h3{
	font-family: RobotoCondensedRegular, cursive;
}

footer {
    width: 100%;
    background: #272828;
    padding-top: 20px;
    text-align: center;
}

footer nav{
    padding-bottom: 30px;
    margin: auto;
}

footer nav ul li{
    display: inline-block;
    margin-left: 60px;
    list-style: none;
    color: #fff;
}

footer nav ul li a{
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

footer p {
    padding-bottom: 20px;
    color: #c8d3e7;
}

footer .soc_buttons{
	margin: 0;
}

.soc_buttons p{
	font-size: 20px;
	color: #fff;
	font-family: cursive;
}
h4{
	color: #ccc;
	text-align: center;
}

.fa-refresh{
	margin-bottom: 10px;
}


.main_container{
	padding: 10px;
	/*margin: 20px 0 20px 0;*/
	width: 100%;
	border-color: rgba(102, 153, 204, 0.43);
	box-shadow: 2px 2px 2px 2px rgba(156, 167, 179, 0.5);
	/*background-color: #f8fdfc;*/
}

.myform input[type="email"],.myform input[type="text"] {
	border-radius: 3px;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	transition: all 0.5s ease;
	background: #eae7e7  no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 18px Helvetica, Arial, sans-serif;
	margin: 10px auto 10px 60px;
	padding: 15px 10px 15px 40px;
	width: 70%;
	height: 45px;
}
.myform input[type="email"]:focus, .myform input[type="text"]:focus {
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}

.well{
	padding: 0;
	margin: 5px;
	text-align: center;
	font-family: RobotoBold;
	color: #141b50;
	text-transform: uppercase;
}

#basket .well{
	margin: 5px;
	padding: 10px 35px 10px;
}

.up_but{
	color: white;
	size: 60px;
	float: right;
	z-index: 10;
	display: block;
	background-color:  rgba(221, 221, 227, 0.35);
	border: none;
	width: 70px;
}

.up_but:hover{

	background-color: rgba(72, 108, 151, 0.35);

}


.send_msg{
	font-size: 20px;
	font-family: LobsterRegular, sans-serif;
	color: #494f54;
	text-transform: none;
}