
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.sell_right .button{
		margin: 15px auto;
		float: none;
		max-width: 250px;
	}

	.sell_descr{
		text-align: center;
	}
	.sell_number{
		text-align: center;
	}
	.maian_mnu ul {
		display: none;
		position: absolute;
		background-color: #3797bf;
		width: 100%;
	}

	.maian_mnu ul li{
		display: block;

	}

	footer ul li{
		text-align: center;
		padding: 10px;
		vertical-align: middle;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top_links{
		background-color: #455484;
		display: none;
		margin-top: 15px;
		padding: 14px;
		position: absolute;
		vertical-align: middle;
		width: 100%;
	}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top_links{
		display: inline-block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}