.fa-2x {
    font-size: 2em;
}
.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}


.ord-menu:hover,nav.ord-menu.expanded {
    width:280px;

    overflow:visible;
}

.ord-menu {
    border-right:1px solid #e5e5e5;
    border-radius: 15px 10px 10px 10px;
    border: 1px solid #ccc;
    position:absolute;
    margin-top: 50px;
    padding: 0px 0 0px 130px;
    top:0;
    height:30%;
    right:0;
    width:0px;
    overflow:hidden;
    transition:width .05s linear;
    z-index:1000;

}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

nav {
    user-select:none;
}

.ord-menu nav.ord-menu {
    color:#fff;
    background-color:#5fa2db;
}

.button{
    display: block;
    border: medium none;
    background-color: #6d829b;
    color: #fff;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 130px;

}

.button:hover {
    background-color: #9db2cc;
}

.button:active{
    background-color: #6d829b;
}


.order_form input[type="text"],input[type=email] {
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    transition: all 0.5s ease;
    background: #eae7e7;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 17px Helvetica, Arial, serif;
    height: 8px;
    margin: 0 0 10px 15px;
    padding: 15px 10px 15px 10px;
    width: 75%;
}
.order_form input[type="text"]:focus,input[type=email]:focus{
    box-shadow: 0 0 2px #ed1c24 inset;
    background-color: #fff;
    border: 1px solid #ed1c24;
    outline: none;
}

.order_form input[type=text]{
    width: 35%;
}

.tariff_select{
    border-radius: 4px;
    border: 1px solid #c8c8c8;
    background: #eae7e7;
    height: 39px;
    padding: 3px;
    margin: 10px;
    font-size: 17px;
}

.order_form .button{
    margin: 10px 0 0 70px;
}

.tariff_select:focus{
    box-shadow: 0 0 2px #ed1c24 inset;
    background-color: #fff;
    border: 1px solid #ed1c24;
    outline: none;
}

h3{
    font-weight: 400;
    font-family: RobotoCondensedBold, cursive;
    font-size: 20px;
    text-transform: uppercase;
}