.main_sect_tariff {
    font-size: 15px;
    color: rgba(24, 89, 93, 0.78);
    margin: 5px 0 5px 30px;
    border-right: 1px solid #ccc;
}

.second_sect_tariff{
    font-size: 17px;
    color: rgba(81, 29, 93, 0.78);
    margin: 5px 0 5px -30px;
}

.options_plan ul{
    text-align: center;
    font-size: 17px;

    text-transform: uppercase;
    font-family: RobotoRegular;
}

.options{
    margin-top: 30px;
}

.tariff_plan{
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
    color:  rgba(54, 86, 160, 0.88);
    text-transform: uppercase;
    font-family: RobotoBold;
}

.data_inet p{
    margin-left: 0;
    color: #5f5050;
}

.inet{
    color: rgba(42, 53, 206, 0.74);
    text-transform: uppercase;
    font-size: 20px;
    font-family: cursive;
    margin-top: 30px;
    margin-left: -30px;
}

.price_tariff{
    color: #1e87bb;
    font-size: 38px;
    font-family: LobsterRegular;
    margin-top: 5px;
    margin-left: 5px;

}

em{
    float: right;
}

.show_tar_but{
    border-radius: 10px;
    font-size: 15px;
    color: #fff;
    background-color:rgba(10, 130, 212, 0.58);
    width: 80px;
    height: 40px;
    border: none;
    margin: 100px 0 0 15px;
}

.show_tar_but:hover{
    background-color: rgba(126, 187, 228, 0.56);
}

.show_tar_but:active{
    background-color: rgba(126, 187, 228, 0.56);
    border: transparent;
}

h2 .fa-eur{
    color: #1e87bb;
    font-size: 38px;
}

.tariff_container{
    padding: 10px;
    margin: 20px 0 20px 0;
    width: 80%;
    min-height: 400px;
    border-radius: 3px;

    background-color: #f9fbfa;
}

.tariff_main_form {
    padding: 10px 0;
    margin: 10px 5px 20px 5px;
    border: 1px solid #ccc;
}

.hidden{
    display: none;
}

/*.myform{*/
    /*width: 500px;*/
    /*height: 300px;*/
/*}*/

/*.myform input[type=text]{*/
    /*display: block;*/
    /*line-height: 24px;*/
/*}*/

/*.myform .button{*/
    /*margin: 15px auto 0;*/
/*}*/
/*.myform h3{*/
    /*margin: 10px auto 15px;*/
    /*text-align: center;*/
    /*font-weight: normal;*/
    /*font-family: RobotoCondensedBold;*/
    /*text-transform: uppercase;*/
/*}*/