#pricing-table {
    margin: 30px 30px 0 50px;
    text-align: center;
    max-width: 1000px;
    overflow-x: auto;
    padding-bottom: 10px;
}

#pricing-table .plan {
    font: 22px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    text-shadow: 0 1px rgba(255, 255, 255, .8);
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
    margin: 20px;
    margin-left: 45px;
    padding: 30px;
    width: 230px;
    float: left;
    position: relative;
}

#pricing-table h3 {
    font-size: 30px;
    font-weight: normal;
    padding: 20px;
    margin: -20px -20px 50px -20px;
    background-color: #eee;
    background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
    background-color: #ddd;
    margin-top: -30px;
    padding-top: 30px;
    border-radius: 4px 4px 0 0;
    font-family: RobotoBold;
    color: #35448e;
}

#pricing-table h3 span {
    display: block;
    font: bold 25px/100px Georgia, Serif;
    color: #777;
    background: #fff;
    border: 5px solid #fff;
    height: 100px;
    width: 100px;
    margin: 10px auto -65px;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

#pricing-table li {
    border-top: 1px solid #ddd;
    padding: 5px 0;
    font-family: RobotoRegular;
    color: #597994;
}

#pricing-table .signup {
    position: relative;
    padding: 8px 20px;
    margin: 20px 0 0 0;
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: #17acce;
    border-radius: 3px;
    width: 90px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#pricing-table .signup:hover {
    background-color: #70bcab;
}

#pricing-table .signup:active, #pricing-table .signup:focus {
    background: #1697bc;
    top: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
}

.clear:before, .clear:after {
    content: "";
    display: table
}

.clear:after {
    clear: both
}

.clear {
    zoom: 1
}

#pricing-table #most-popular {
    z-index: 2;
    top: -13px;
    border-width: 1px;
    padding: 30px 20px;
    border-radius: 3px;
    box-shadow: 5px 0 5px -5px rgba(221, 221, 227, 0.15), -20px 0 10px -10px rgba(221, 221, 227, 0.15);
}

#pricing-table .plan:nth-child(1) {
    border-radius: 5px 0 0 5px;
}

#pricing-table .plan:nth-child(4) {
    border-radius: 0 5px 5px 0;
}

#pricing-table h3 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
    margin: -20px -20px 50px -20px;
    background-color: #eee;
    background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    margin-top: -30px;
    padding-top: 30px;
    border-radius: 5px 5px 0 0;
}

#pricing-table h3 span {
    display: block;
    font: bold 25px/100px Georgia, Serif;
    color: #777;
    background: #fff;
    border: 5px solid #fff;
    height: 100px;
    width: 100px;
    margin: 10px auto -65px;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

#pricing-table ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

.clear:before, .clear:after {
    content: "";
    display: table
}

.clear:after {
    clear: both
}

.clear {
    zoom: 1
}

h2 {
    font-size: 30px;
    font-family: RobotoBold, sans-serif;
    color: #4d4a72;
    text-align: center;
    text-transform: uppercase;
}

.plan #tariff_remove {
    background-color: #c7254e;
    border-color: #c76567;
    padding: 8px;
}

.plan #tariff_remove:hover {
    background-color: #c76f76;
    border-color: #c76f76;
}

.sec {
    font-size: 25px;
}


