.users-right {
    margin: auto;
    background: #fefbff;
    opacity: 0.8;
}

.users-right .well{
    margin: 5px 0 0 20px;
    padding: 10px 20px 0;
    border: none;
}


#contr_panel{
    background-color: #f5f5f5;
    border-radius: 10px;
}

.contr_users{
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

table {
    border-top: 3px solid #69c;
    border-bottom: 3px solid #69c;
    margin: 5px 5px 5px 5px;
    background-color: transparent;
}

#tariffs{
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

th {
    font-size: 23px;
    color: #039;
    padding: 10px 15px;

}

td {
    color: #669;
    width: 100px;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
    font-size: 18px;
}

tr:nth-child(2n) {
    background: #e8edff;
}


.user-tariff {
    padding: 5px;
    margin: auto;
    background: #fefbff;
    opacity: 0.9;
    width: 80%;
}

.search-container{
    width: 300px;
    margin-left: 20px;
    vertical-align: middle;
    color: #122b40;
    white-space: nowrap;
    position: relative;
}

.lead{
    font-size: 22px;
    font-family: RobotoCondensedBold, sans-serif;
}

#admin_body .lead, #user_body .lead{
    font-size: 30px;
    font-family: RobotoBold, sans-serif;
}

.tittle_empty{
    text-align: center;
    font-family: Britannic Bold,cursive;
    font-size: 30px;
    color: darkblue;
}

#basket .well{
    padding: 0 0 10px;
    margin: 0;
    border: none;
}
