.main_sect_tariff {
    font-size: 15px;
    color: rgba(24, 89, 93, 0.78);
    margin: 5px 0 5px 30px;
    border-right: 1px solid #ccc;
}

.second_sect_tariff, .main_sect_tariff li{
    font-size: 15px;
    color: rgba(24, 89, 93, 0.78);
    margin: 5px 0 5px 10px;
}

.second_sect_tariff li, .main_sect_tariff li{
    margin: 8px 0 5px 1px;
}

.options_plan ul{
    text-align: center;
    font-size: 17px;

    text-transform: uppercase;
    font-family: RobotoRegular;
}

.options{
    margin-top: 30px;

}

.tariff_plan{
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
    color:  rgba(54, 86, 160, 0.88);
    text-transform: uppercase;
    font-family: RobotoBold;
}


.data_inet p{
    margin-left: 10px;
    color: #5f5050;
}

.inet{
    color: rgba(42, 53, 206, 0.74);
    text-transform: uppercase;
    font-size: 20px;
    font-family: cursive;
    margin-top: 30px;
    margin-left: 0;
}

.price_tariff{
    color: #1e87bb;
    font-size: 38px;
    font-family: "LobsterRegular";
    margin-top: 5px;

}

.show_tar_but{
    border-radius: 3px;
    color: #fff;
    background-color:rgba(10, 130, 212, 0.58);
    width: 70px;
    height: 35px;
    border: none;
    margin:  50px 0 15px 80px;
}

.show_tar_but:hover{
    background-color: rgba(126, 187, 228, 0.56);
}

.show_tar_but:active{
    background-color: rgba(126, 187, 228, 0.56);
    border: transparent;
}

h2 .fa-eur{
    color: #1e87bb;
    font-size: 38px;
}


.tariff_container{
    padding: 10px 0;
    margin: 0;
    width: 100%;
    min-height: 400px;
    height: 500px;
    border-radius: 3px;

}

.tariff_main_form {
    padding: 10px 0px ;
    margin: 10px;
    border: 1px solid #ccc;

}


.inner_table .dropdown {
    position: relative;
    display: inline-block;
}

.inner_table .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 250px;
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px 10px 10px 30px;
}

.inner_table .dropdown:hover .dropdown-content {
    display: block;
}

.inner_table .drop p{
    font-size: 20px;
    font-family: RobotoRegular;
    color:  #324148;
}

.inner_table .drop ul{
    margin: 25px;
    color:  #324148;
}

.inner_table .drop li{
    padding: 5px;
    background: linear-gradient(to left, rgba(204, 161, 222, 0.21) 0%, white, rgba(215, 189, 218, 0.32));
}

/*#content1 *, *:before, *:after, #content2 *, *:before, *:after {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*box-sizing: border-box;*/
/*}*/

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}


main {
    min-width: 320px;
    height: 580px;
    padding: 5px;
    margin: 0 auto;
    background: #fff;
}

main section  {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
    width: 100%;
}

#admin_body input[type="radio"], #user_body input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
    font-size: 20px;
}

label:before {
    font-family: fontawesome, serif;
    font-weight: normal;
    margin-right: 10px;
}

label[for*='1']:before {
    content: '\f1cb';
}

label[for*='2']:before {
    content: '\f17d';
}

label[for*='3']:before {
    content: '\f16b';
}

label[for*='4']:before {
    content: '\f1a9';
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }

    label:before {
        margin: 0;
        font-size: 18px;
    }
}
@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}

.but_opt_add{
    background: transparent;
    border: none;
}

.option_create{
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px ;
}

.option_create p{
    text-align: center;
    font-size: 15px;
    color: #4d4a72;
    text-transform: uppercase;
    font-family: "RobotoRegular",cursive;
}

.first  {
    list-style: none;
    padding: 0;
}
.first li {
    padding: 10px 10px;
    /*background: linear-gradient(to left, rgb(218, 239, 241) 0%, white, rgb(237, 247, 248));*/
    background-color: rgb(218, 239, 241);
    border-bottom: 1px solid grey;
    color: #506a6b;
    font-size: 17px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
}

.first li:last-child {border-bottom: none;}

.first_opts li{
    /*background: linear-gradient(to left, rgba(204, 161, 222, 0.21) 0%, white, rgba(215, 189, 218, 0.32));*/
    background-color: rgba(204, 161, 222, 0.21);
}


em{
    float: right;
}


.first a{
    font-size: 14px;

}

.lead, #admin_body .lead{
    margin: 10px;
    font-size: 24px;
    font-family: LobsterRegular, cursive;
}

.lead_opts{
    font-size: 20px;
    font-family: RobotoBold, cursive;
    margin:10px;
}

.fa-cog{
    margin-left: 50px;
}

.inner_table {
    margin: 10px 10px 10px 0px;
    width: 97%;
}

#admin_body .inner_table{
    margin: 10px 0 10px 10px;
}

.inner_table th{
    font-size: 17px;
    text-transform: uppercase;
}
.inner_table td, .inner_table th {
    color: #2b686e;
    padding: 10px;
    text-align: center;
}
.inner_table td {

    vertical-align: middle;
}

.inner_table span{
    padding: 10px;
}
.inner_table td:last-child {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: center;
}

.inner_table td:nth-child(1) {
    text-align: left;
    padding-left: 30px;
}
.inner_table th {
    background-color: #daeff1;
    font-weight: 300;
}

.inner_table tr:nth-child(2n) {
    background-color: white;
}
.inner_table tr:nth-child(2n+1) {
    background-color: #edf7f8;
}
.users-right {
    margin: auto;
    background: #fefbff;
    opacity: 0.8;
    border-color: #69c;
    margin-top: 5px;
}

#content1 .fa{
    color: black;
    margin-right: 10px;
    font-size: 20px;
}

#content1 .fa-power-off{
    color: red;
    font-size: 20px;
}

#content1 .fa-plus-circle{
    color: green;
}

#content1 .fa-info-circle{
    color: green;
}

#content1 .tariff_container{
    background-color: #fff;
}

#admin_body #content1{
    padding: 20px 10px 0 0;

}

#admin_body #content1 .option_create{
    margin-top: 5px;
}

#admin_body .tariff_main_form{
    margin: 5px;
    padding: 0;
}

.maian_mnu{
    padding: 3px 0 13px 0;
    font-size: 15px;
}