.well{
    margin: 0 25px 0 25px;
}
h2{
    font-size: 35px;
    font-family: "RobotoBold";
    color: #4d4a72;
    text-align: center;
    text-transform: uppercase;
}

h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 27px;
    font-family: "RobotoRegular";
    color: #4d4a72;
    text-align: center;
    text-transform: uppercase;
}

.but_user{
    position: relative;
    float: right;
    padding: 10px 20px;
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: #32326f;
    border-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    opacity: 0.9;
}


.but_user:hover{
    opacity: 1;
}

.tariff_container{
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    min-height: 400px;
    border-radius: 3px;

    background-color: #f9fbfa;
}

.base_form {
    padding: 0 15px 0 0;
    margin: 10px;
    border: 1px solid #ccc;

}

.base_form .well{
    margin: 5px 10px 0 10px;
    padding: 0 10px 0 10px;
}

.well h4{

    font-size: 20px;
    font-family: "RobotoRegular";
    text-align: left;
    text-transform: uppercase;
}
.base_form form input[type="text"] {
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    transition: all 0.5s ease;
    background: #eae7e7;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 20px Helvetica, Arial, sans-serif;
    height: 40px;
    margin: 0 0 10px;
    padding: 15px 10px 15px 10px;
    width: 80%;
}
.base_form form input[type="text"]:focus{
    box-shadow: 0 0 2px #ed1c24 inset;
    background-color: #fff;
    border: 1px solid #ed1c24;
    outline: none;
}

.base_form form input[type="submit"] {
    background: rgb(254,231,154);
    background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    float: right;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 10px 10px 15px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    width: 120px;
}
.base_form form input[type="submit"]:hover {
    background: rgb(254,193,81);
    background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}

.option_create{
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 5px;
}

.option_create p{
    text-align: center;
    font-size: 17px;
    color: #4d4a72;
    text-transform: uppercase;
    font-family: "RobotoRegular";
}

.option_create .lead{
    font-family: RobotoCondensedRegular Bold, cursive;
}

.inner_table {
    margin: 10px 50px 10px 10px;
    width: 97%;
}

.inner_table th{
    font-size: 17px;
    text-transform: uppercase;
}
.inner_table td, .inner_table th {
    color: #2b686e;
    padding: 10px;
    text-align: center;
}
.inner_table td {

    vertical-align: middle;
}

.inner_table span{
    padding: 10px;
}
.inner_table td:last-child {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: center;
}

.inner_table td:nth-child(1) {
    text-align: left;
    padding-left: 30px;
}
.inner_table th {
    background-color: #daeff1;
    font-weight: 300;
}

.inner_table tr:nth-child(2n) {
    background-color: white;
}
.inner_table tr:nth-child(2n+1) {
    background-color: #edf7f8;
}

.user_table  {
    list-style: none;
    padding: 0;
}
.user_table li {
    padding: 10px 30px;
    background: linear-gradient(to left, rgb(218, 239, 241) 0%, white, rgb(237, 247, 248));
    border-bottom: 1px solid grey;
    color: #506a6b;
    font-size: 17px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
}
.user_table li:last-child {border-bottom: none;}

em{
    float: right;
}

.lead{
    margin: 10px;
    font-size: 17px;
    font-family: LobsterRegular, cursive;
}

.user_table a{
    font-size: 14px;

}

.fa-times-circle{
    font-size: 17px;
}

.head_table{
    margin: auto;
}
.head_table th{
    width: 200px;
    padding: 20px;
}

.fa-cog{
    margin-left: 50px;
}

.fa-info-circle{
    margin-left: 20px;
    font-size: 15px;
}

.option_content{
    width: 300px;
}

.option_content li{
    padding: 10px 30px;

    border-bottom: 1px solid grey;
    color: #506a6b;
    font-size: 17px;

    margin-bottom: 5px;
}


.option_set{
    list-style: none;
    padding: 10px;
}

.tariff_hide{
    display: none;
}
.fa-shopping-basket{
    font-size: 20px;
}
